// *{border: red dashed 1px;}

.calendario{
  &__foto{

  }

  &__mes{
    font-size: 1.6rem;
    color: #3575ff;
  }

  &__ano{
    font-size: 1.6rem;
    color: #3575ff;
  }
  
  &__dia-semana{
    font-size: 1rem;
    color: #bbbbbb;
  }

  &__coluna-dia-semana{
    border: solid 1px #6b6b6b;
    background-color: #00226b;
  }
  
  &__dia{
    font-size: 1rem;
    color: #494949;
  }


  &__coluna-dia{
    border: solid 1px #6b6b6b;
    background-color: rgb(185, 185, 185);
  }

  // background-color: black;
}