<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<!-- LINHA 1 -->
  <ion-row>
<!-- Coluna esuqerda -->
    <ion-col size="6">
      <h5>SET:</h5>
      <ion-checkbox id="checkbox_left"></ion-checkbox>
      <ion-checkbox id="checkbox_left"></ion-checkbox>
      <ion-checkbox id="checkbox_left"></ion-checkbox>
      
    </ion-col>
<!-- Coluna direita -->
    <ion-col size="6">
      <h5>SET:</h5>
      <ion-checkbox id="checkbox_right"></ion-checkbox>
      <ion-checkbox id="checkbox_right"></ion-checkbox>
      <ion-checkbox id="checkbox_right"></ion-checkbox>
    </ion-col> 
  </ion-row>
<!-- LINHA 2 -->
  <ion-row>
<!-- Coluna esuqerda -->
    <ion-col size="6" class="ion-text-center">
      <p id="placar">10</p>
    </ion-col>
<!-- Coluna direita -->
    <ion-col size="6" class="ion-text-center">
      <p id="placar">13</p>
    </ion-col> 
  </ion-row>
</ion-content>
