*{
  border: 2px dashed green;
  padding: 0;
}

#placar{
  
}

// LADO vermelho
#checkbox_left {
  --size: 32px;
  margin: 3px;
  --checkbox-background-checked: red;
}

#checkbox_left::part(container) {
  border-radius: 100%;
  border: 2px solid red;
}


// LADO azul
#checkbox_right {
  --size: 32px;
  margin: 3px;
  --checkbox-background-checked: blue;
}

#checkbox_right::part(container) {
  border-radius: 100%;
  border: 2px solid blue;
}